SECRET_KEY=django-insecure-replace-this-key-in-production-12345
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
# Optional PostgreSQL (if empty, SQLite will be used by default)
DATABASE_URL=postgres://crm_user:crm_password@localhost:5432/mini_crm_db
